body{
    background-color: white;
    color: black;
    padding: 16px 300px;
}

.wd-button-style{
    width: 100%;
    height: 54px;
    border-radius: 40px;
}

.wd-follow-button-style{
    width: 100%;
    height: 40px;
    border-radius: 40px;
}

.wd-image-size{
    max-width: 1250px;
    max-height: 500px;
    width:100%;
    height:100%
}

.wd-content-image-size{
    width:100%;
    height:100%;
}

.image-caption {
    bottom: 0;
    left: 0;
    color: white;
    font-size: 4em;
}

.wd-right-side-image-corners-all-around {
    border-radius: 50px;
}

.wd-right-side-image-size{
    max-width: 50px;
    max-height: 50px;
    width:100%;
    height:100%;
}

.wd-gear-position{
    position: relative;
    left: 12px;
    font-size: 15px;
    color:black;
    margin-right: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: dodgerblue !important;
    border-color: dodgerblue !important;
}

.wd-bg-color-gray{
    background-color: #eff3f4;
    color: white;
    height: 50px;
}
.wd-input-bg-color-gray{
    background-color: #eff3f4;
    color: white;
    height: 48px;
}

.wd-dimension-landscape {
    width: 100px;
    height: 5px;
    border-radius: 10px;
}

.wd-landscape-bg-color-blue {
    background-color: dodgerblue;
}